In [1]:
### ------------------------------------------------------------------------
### Trabalho Final  Inteligência Artificial
### Adriano G e Jean M.
### -------------------------------------------------------------------------

In [30]:
#import h1 as h1
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
import statistics  as sts
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [4]:
df=pd.read_csv('Titanic-Dataset.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Resumo geral da base de dados

In [7]:
print ("Linhas: " , df.shape[0])
print ("Colunas: " , df.shape[1])
print ("\nAtributos : \n" , df.columns.tolist())
print ("\nValores faltantes :  ", df.isnull().sum().values.sum())
print ("\nValores únicos :  \n",df.nunique())

Linhas:  891
Colunas:  12

Atributos :
 ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

Valores faltantes :   866

Valores únicos :
 PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

## Pré-processamento

### Remoção ID feature e verificação de dados faltantes

In [8]:
# Verifica a quantidade de dados faltrantes
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
### Substituição NAs Age pela mediana
mediana = df['Age'].median()
#preenche NAs
df['Age'].fillna(mediana, inplace=True)

In [10]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
df['Embarked'].fillna('S', inplace=True)

In [12]:
###Troca Cabines vazias pela moda
cabin_mode = df['Cabin'].mode()[0]
df['Cabin'].fillna(cabin_mode, inplace=True)
df['Cabin'].isna().sum()

0

### Carregar dados para previsao da Cabine com um treino de random forest

In [ ]:
### crio uma nova variavel com as colunas relevantes para previsao
df_cabines = df[['Pclass','Sex','Age','Fare','Cabin','Embarked']]
df_cabines

In [ ]:
### separo em cabines conhecidas e cabines desconhecidas
df_conhecidas = df_cabines.dropna(subset=['Cabin'])
df_desconhecidas = df_cabines[df_cabines['Cabin'].isna()]
df_desconhecidas

In [ ]:
df_conhecidas

In [ ]:
### removendo a coluna cabin para separarmos atributos e rotulos
### Separar os dados conhecidos em atributos e rótulos
atributos_conhecidos = df_conhecidas.drop('Cabin', axis=1)
cabines_conhecidas = df_conhecidas['Cabin']

In [ ]:
### convertendo para Dummy
atributos_conhecidos = pd.get_dummies(atributos_conhecidos)
cabines_conhecidas = pd.get_dummies(cabines_conhecidas)

In [ ]:
###treinar com o modelo random forest
modelo = RandomForestClassifier()
modelo.fit(atributos_conhecidos,cabines_conhecidas)

In [ ]:
###prever valores faltantes na coluna cabin
atributos_desconhecidos = df_desconhecidas.drop('Cabin',axis=1)
atributos_desconhecidos = pd.get_dummies(atributos_desconhecidos)
prever_cabine = modelo.predict(atributos_desconhecidos)
#prever_cabine = prever_cabine[:, 0]


prever_cabine

In [ ]:
# Criar DataFrame com as previsões codificadas
df_previsoes = pd.DataFrame(prever_cabine, columns=[f'Cabin_{i}' for i in range(len(modelo.classes_))])

df_previsoes_revertidas = df_previsoes.idxmax(axis=1)

df.loc[df['Cabin'].isna(), 'Cabin'] = df_previsoes_revertidas.values

In [ ]:
# Verifica a quantidade de dados faltantes
df.isna().sum()

In [13]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,B96 B98,Q

##################################################################

In [14]:
df=df.drop(columns='PassengerId',axis=1)
df=df.drop(columns='Ticket',axis=1)
df=df.drop(columns='Name',axis=1)
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare    Cabin Embarked
0           0       3    male  22.0      1      0   7.2500  B96 B98        S
1           1       1  female  38.0      1      0  71.2833      C85        C
2           1       3  female  26.0      0      0   7.9250  B96 B98        S
3           1       1  female  35.0      1      0  53.1000     C123        S
4           0       3    male  35.0      0      0   8.0500  B96 B98        S
..        ...     ...     ...   ...    ...    ...      ...      ...      ...
886         0       2    male  27.0      0      0  13.0000  B96 B98        S
887         1       1  female  19.0      0      0  30.0000      B42        S
888         0       3  female  28.0      1      2  23.4500  B96 B98        S
889         1       1    male  26.0      0      0  30.0000     C148        C
890         0       3    male  32.0      0      0   7.7500  B96 B98        Q

[891 rows x 9 columns]

In [15]:
df[["Survived","Sex"]].value_counts()

Survived  Sex
0         male      468
1         female    233
          male      109
0         female     81
Name: count, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
df[["Survived","Sex"]] = \
df[["Survived","Sex"]].apply(labelencoder.fit_transform)

Atributos com mais de 2 valores,

In [18]:
df = pd.get_dummies(data=df, columns=['Pclass'])
df = pd.get_dummies(data=df, columns=['SibSp'])
df = pd.get_dummies(data=df, columns=['Parch'])
df = pd.get_dummies(data=df, columns=['Cabin'])
df = pd.get_dummies(data=df, columns=['Embarked'])

In [19]:
df.columns

Index(['Survived', 'Sex', 'Age', 'Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'SibSp_0', 'SibSp_1', 'SibSp_2',
       ...
       'Cabin_F G73', 'Cabin_F2', 'Cabin_F33', 'Cabin_F38', 'Cabin_F4',
       'Cabin_G6', 'Cabin_T', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object', length=171)

In [20]:
std=StandardScaler()
columns = ['Age','Fare']
scaled = std.fit_transform(df[['Age','Fare']])
scaled = pd.DataFrame(scaled,columns=columns)
df=df.drop(columns=columns,axis=1)

In [21]:
df=df.merge(scaled, left_index=True, right_index=True, how = "right")
df

,Survived,Sex,Pclass_1,Pclass_2,Pclass_3,SibSp_0,SibSp_1,SibSp_2,SibSp_3,SibSp_4,...,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S,Age,Fare
0,0,1,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,True,-0.565736,-0.502445
1,1,0,True,False,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,0.663861,0.786845
2,1,0,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,True,-0.258337,-0.488854
3,1,0,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,0.433312,0.420730
4,0,1,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,True,0.433312,-0.486337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,1,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,-0.181487,-0.386671
887,1,0,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,-0.796286,-0.044381
888,0,0,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,True,-0.104637,-0.176263
889,1,1,True,False,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,-0.258337,-0.044381
890,0,1,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,True,False,0.202762,-0.492378

### Separação entre treino e teste (70% e 30%)

In [22]:
X = df.drop(['Survived'], axis=1).values
y = df['Survived'].values

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

###Aplica balanceamento nas classes

In [24]:
from imblearn.over_sampling import SMOTE

In [25]:
sm = SMOTE()
x_train_oversampled, y_train_oversampled = sm.fit_resample(X_train, y_train)

In [26]:
print(x_train_oversampled.shape)
print(X_train.shape)

(762, 170)
(623, 170)

### KNN Classifier

In [ ]:
df.columns

In [ ]:
k = 5
knn = KNeighborsClassifier(n_neighbors=k,metric = 'euclidean')
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
metrics.accuracy_score(y_test, y_pred)

In [ ]:
y_proba = knn.predict_proba(X_test)

In [ ]:
y_proba

In [ ]:
y_pred

In [ ]:
y_test

In [ ]:
# Teste para diferentes valores de k
k_range = list(range(1,21))
scores = []
for k in k_range:
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=8)
    knn = KNeighborsClassifier(n_neighbors=k,metric = 'euclidean')
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append(metrics.accuracy_score(y_test, y_pred))

plt.plot(k_range, scores)
plt.xlabel('Value of k for KNN')
plt.ylabel('Accuracy Score')
plt.title('Accuracy Scores for Values of k of k-Nearest-Neighbors')
plt.show()

In [ ]:
## Normalização dos dados

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=8)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

In [ ]:
X_train

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
X_train

In [ ]:
# experimenting with different n values
k_range = list(range(1,21))
scores = []
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors=k, metric = 'euclidean')
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append(metrics.accuracy_score(y_test, y_pred))

plt.plot(k_range, scores)
plt.xlabel('Value of k for KNN')
plt.ylabel('Accuracy Score')
plt.title('Accuracy Scores for Values of k of k-Nearest-Neighbors')
plt.show()

<h1 style="font-family:Georgia;font-size:175%;text-align:left">Random Forest Classifier</h1>

In [31]:
forest = RandomForestClassifier()

param_grid = {'criterion': ['gini', 'entropy', 'log_loss'],
              'max_features':['sqrt','log2'],
              'n_estimators': [10, 20, 30, 60]}

In [32]:
# cria o objeto g_search
g_search = GridSearchCV(estimator = forest, param_grid = param_grid,
                        refit=True, scoring='accuracy', cv = 10)

In [33]:
# Faz o treinamento
g_search.fit(x_train_oversampled, y_train_oversampled);
print(g_search.best_params_)

{'criterion': 'log_loss', 'max_features': 'sqrt', 'n_estimators': 20}

In [35]:
# Carrega todos os dados do GridSearch em um Dataframe
g_results =  pd.DataFrame(g_search.cv_results_)
# Nome de todos atributos gerados pelo GridSearch
g_search.cv_results_.keys()

dict_keys(['mean_fit_time', 'std_fit_time', 'mean_score_time', 'std_score_time', 'param_criterion', 'param_max_features', 'param_n_estimators', 'params', 'split0_test_score', 'split1_test_score', 'split2_test_score', 'split3_test_score', 'split4_test_score', 'split5_test_score', 'split6_test_score', 'split7_test_score', 'split8_test_score', 'split9_test_score', 'mean_test_score', 'std_test_score', 'rank_test_score'])

In [36]:
# Obtém a média das acurácias (10 folds) referente ao conjunto treino
g_results.loc[g_search.best_index_,'mean_test_score']

0.8268796992481203

In [37]:
# Avalia o conjunto teste  com o melhor conjunto de parâmetros encontrado
# best_estimator_ .Para tanto, o parâmetro refit precisa ser igual a True
model = g_search.best_estimator_
model.score(X_test,y_test)

0.7723880597014925

Amostragem por validação cruzada estratificada

In [38]:
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.ensemble import RandomForestClassifier

In [40]:
model = RandomForestClassifier()
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
scores = cross_val_score(model, X, y, cv=skf)
mean_score = scores.mean()
mean_score

0.8035580524344569

In [42]:
train_scores = cross_val_score(model, X_train, y_train, cv=skf)
mean_train_accuracy = train_scores.mean()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
test_accuracy = accuracy_score(y_test, y_pred)
test_accuracy

0.7761194029850746

############################################################################

In [27]:
forest = RandomForestClassifier(random_state=42)
#==
forest.fit(x_train_oversampled, y_train_oversampled)
#==
#Score
#==
forest_score = forest.score(x_train_oversampled, y_train_oversampled)
forest_test = forest.score(X_test, y_test)
#==
#testing model
#==
y_pred = forest.predict(X_test)
#==
#evaluation
#==
cm = confusion_matrix(y_test,y_pred)
print('Training Score',forest_score)
print('Testing Score \n',forest_test)
print(cm)

Training Score 0.9908136482939632
Testing Score
 0.7798507462686567
[[138  30]
 [ 29  71]]

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

###################################################################################################################################################

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier()
# param_grid = {'criterion': ['gini', 'entropy', 'log_loss'],
#               'max_features':['sqrt','log2'],
#               'n_estimators': [10, 20, 30, 40, 50, 60, 70, 80, 100, 200, 300]}
param_grid = {'criterion': ['gini', 'entropy', 'log_loss'],
              'max_features':['sqrt','log2'],
              'n_estimators': [10, 20, 30, 60]}
#### Exemplo com GridSearchCV
# - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
g_search = GridSearchCV(estimator=forest, param_grid=param_grid,
                        cv=10, return_train_score=True)
sm = SMOTE()
x_train_oversampled, y_train_oversampled = sm.fit_resample(X_train, y_train)
print(np.unique(y_train_oversampled, return_counts=True))
g_search.fit(x_train_oversampled, y_train_oversampled)
print(g_search.best_params_)
print(g_search.best_score_)