### ------------------------------------------------------------------------
### Aula Inteligência Artificial
### Pré-processamento e Ajuste dos hiperparâmetros
### Algoritmo de exemplo:  Randon Forest
### -------------------------------------------------------------------------

### Stroke Prediction Dataset - Acidente Vascular Cerebral
* https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

*  Stroke is a medical emergency. A stroke occurs when blood flow to a part of your brain is interrupted or reduced, preventing brain tissue from getting oxygen and nutrients. Brain cells begin to die within minutes 

* Age: People aged 55 years and over

* Hypertension: if the systolic pressure is 140 mm Hg or more, or the diastolic pressure is 90 mm Hg or more

* Hypercholesterolemia: If the cholesterol level in the blood is 200 milligrams per deciliter

* Smoking

* Diabetes

* Obesity: if the body mass index (BMI) is 30 or more

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import statistics  as sts
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
df=pd.read_csv('healthcare-dataset-stroke-data.csv')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [ ]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [ ]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [ ]:
df['stroke'].value_counts()

0    4861
1     249
Name: stroke, dtype: int64

## Resumo geral da base de dados

In [ ]:
print ("Linhas: " , df.shape[0])
print ("Colunas: " , df.shape[1])
print ("\nAtributos : \n" , df.columns.tolist())
print ("\nValores faltantes :  ", df.isnull().sum().values.sum())
print ("\nValores únicos :  \n",df.nunique())

Linhas:  5110
Colunas:  12

Atributos :
 ['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status', 'stroke']

Valores faltantes :   201

Valores únicos :
 id                   5110
gender                  3
age                   104
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3979
bmi                   418
smoking_status          4
stroke                  2
dtype: int64

## Pré-processamento

### Remoção ID feature e verificação de dados faltantes

In [ ]:
df=df.drop(columns='id',axis=1)

In [ ]:
# Verifica a quantidade de dados faltrantes
# df[df.isnull().any(axis=1)]
df.isna().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
### Substituição NAs BMI pela mediana
mediana = sts.median(df['bmi'])
#preenche NAs
df['bmi'].fillna(mediana, inplace=True)

In [ ]:
# ## Outra opção a partir do SimpleImputer
# from sklearn.impute import SimpleImputer
# imputer = SimpleImputer(missing_values=np.NaN, strategy='median')
 
# df['bmi'] = imputer.fit_transform(df['bmi'].values.reshape(-1,1))[:,0]

In [ ]:
df.isna().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

### Encoding Categorical Features
* https://www.kaggle.com/code/alexisbcook/categorical-variables/tutorial
* https://towardsdatascience.com/categorical-encoding-using-label-encoding-and-one-hot-encoder-911ef77fb5bd

* Opção com LabelEncoder (apenas dois valores)

In [ ]:
df[["Residence_type","ever_married", "gender"]].value_counts()

Residence_type  ever_married  gender
Urban           Yes           Female    1028
Rural           Yes           Female     973
Urban           Yes           Male       683
Rural           Yes           Male       669
Urban           No            Female     501
Rural           No            Female     492
Urban           No            Male       384
Rural           No            Male       379
                              Other        1
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
df[["Residence_type","ever_married", "gender"]] = \
df[["Residence_type","ever_married", "gender"]].apply(labelencoder.fit_transform)

* Atributos com mais de dois valores

In [ ]:
df[["smoking_status","work_type"]].value_counts()

smoking_status   work_type
never smoked     Private          1211
Unknown          Private           640
                 children          618
smokes           Private           543
formerly smoked  Private           531
never smoked     Self-employed     331
                 Govt_job          282
formerly smoked  Self-employed     208
Unknown          Self-employed     156
formerly smoked  Govt_job          133
smokes           Self-employed     124
Unknown          Govt_job          122
smokes           Govt_job          120
never smoked     children           54
                 Never_worked       14
formerly smoked  children           13
Unknown          Never_worked        8
smokes           children            2
dtype: int64

In [ ]:
print('Smoking-Status:')
print(df['smoking_status'].value_counts())
print('Work-Type:')
print(df['work_type'].value_counts())

Smoking-Status:
never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64
Work-Type:
Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [ ]:
df = pd.get_dummies(data=df, columns=['smoking_status'])
df = pd.get_dummies(data=df, columns=['work_type'])

In [ ]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'Residence_type', 'avg_glucose_level', 'bmi', 'stroke',
       'smoking_status_Unknown', 'smoking_status_formerly smoked',
       'smoking_status_never smoked', 'smoking_status_smokes',
       'work_type_Govt_job', 'work_type_Never_worked', 'work_type_Private',
       'work_type_Self-employed', 'work_type_children'],
      dtype='object')

In [ ]:
df

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
0,1,67.0,0,1,1,1,228.69,36.60,1,0,1,0,0,0,0,1,0,0
1,0,61.0,0,0,1,0,202.21,45.75,1,0,0,1,0,0,0,0,1,0
2,1,80.0,0,1,1,0,105.92,32.50,1,0,0,1,0,0,0,1,0,0
3,0,49.0,0,0,1,1,171.23,34.40,1,0,0,0,1,0,0,1,0,0
4,0,79.0,1,0,1,0,174.12,24.00,1,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,1,83.75,45.75,0,0,0,1,0,0,0,1,0,0
5106,0,81.0,0,0,1,1,125.20,40.00,0,0,0,1,0,0,0,0,1,0
5107,0,35.0,0,0,1,0,82.99,30.60,0,0,0,1,0,0,0,0,1,0
5108,1,51.0,0,0,1,0,166.29,25.60,0,0,1,0,0,0,0,1,0,0
5109,0,44.0,0,0,1,1,85.28,26.20,0,1,0,0,0,1,0,0,0,0

### Normalização dos dados

In [ ]:
std=StandardScaler()
columns = ['avg_glucose_level','bmi','age']
scaled = std.fit_transform(df[['avg_glucose_level','bmi','age']])
scaled = pd.DataFrame(scaled,columns=columns)
df=df.drop(columns=columns,axis=1)

In [ ]:
df=df.merge(scaled, left_index=True, right_index=True, how = "right")
df

,gender,hypertension,heart_disease,ever_married,Residence_type,stroke,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,avg_glucose_level,bmi,age
0,1,0,1,1,1,1,0,1,0,0,0,0,1,0,0,2.706375,0.841973,1.051434
1,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,2.121559,1.935723,0.786070
2,1,0,1,1,0,1,0,0,1,0,0,0,1,0,0,-0.005028,0.351878,1.626390
3,0,0,0,1,1,1,0,0,0,1,0,0,1,0,0,1.437358,0.578995,0.255342
4,0,1,0,1,0,1,0,0,1,0,0,0,0,1,0,1.501184,-0.664174,1.582163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,0,1,0,1,1,0,0,0,1,0,0,0,1,0,0,-0.494658,1.935723,1.626390
5106,0,0,0,1,1,0,0,0,1,0,0,0,0,1,0,0.420775,1.248394,1.670617
5107,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,-0.511443,0.124760,-0.363842
5108,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1.328257,-0.472917,0.343796
5109,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0,-0.460867,-0.401196,0.034205

## Algoritmos de Classificação

### Separação entre treino e teste (70% e 30%)

In [ ]:
X = df.drop(['stroke'], axis=1).values 
y = df['stroke'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

### **Aplica balanceamento entre as classes**

In [ ]:
#Aplica balanceamento nas classes
from imblearn.over_sampling import SMOTE

In [ ]:
sm = SMOTE()
x_train_oversampled, y_train_oversampled = sm.fit_resample(X_train, y_train)

In [ ]:
print(x_train_oversampled.shape)
print(X_train.shape)

(6794, 17)
(3577, 17)

<h1 style="font-family:Georgia;font-size:175%;text-align:left">Random Forest Classifier</h1>

In [ ]:
forest = RandomForestClassifier(random_state=42)
#== 
forest.fit(x_train_oversampled, y_train_oversampled)
#== 
#Score 
#== 
forest_score = forest.score(x_train_oversampled, y_train_oversampled)
forest_test = forest.score(X_test, y_test)
#== 
#testing model 
#== 
y_pred = forest.predict(X_test)
#== 
#evaluation
#== 
cm = confusion_matrix(y_test,y_pred)
print('Training Score',forest_score)
print('Testing Score \n',forest_test)
print(cm)

Training Score 1.0
Testing Score
 0.9354207436399217
[[1426   38]
 [  61    8]]

## Técnicas de ajuste de hiperparâmetros
- https://scikit-learn.org/stable/modules/grid_search.html#

- Abordagens disponíveis no scikit-learn:
    - GridSearchCV: considera exaustivamente todas as combinações de parâmetros; 
    - RandomizedSearchCV: pesquisa aleatória de parâmetros, em que cada configuração é amostrada a partir de uma distribuição de possíveis valores de parâmetro.

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
forest = RandomForestClassifier()
# param_grid = {'criterion': ['gini', 'entropy', 'log_loss'],
#               'max_features':['sqrt','log2'],
#               'n_estimators': [10, 20, 30, 40, 50, 60, 70, 80, 100, 200, 300]}
param_grid = {'criterion': ['gini', 'entropy', 'log_loss'],
              'max_features':['sqrt','log2'],
              'n_estimators': [10, 20, 30, 60]}

#### Exemplo com GridSearchCV
- https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html

In [ ]:
g_search = GridSearchCV(estimator = forest, param_grid = param_grid,
                        cv = 10, return_train_score=True)

In [ ]:
sm = SMOTE()
x_train_oversampled, y_train_oversampled = sm.fit_resample(X_train, y_train)

In [ ]:
print(np.unique(y_train_oversampled, return_counts=True))

(array([0, 1]), array([3397, 3397]))

In [ ]:
g_search.fit(x_train_oversampled, y_train_oversampled);
print(g_search.best_params_)

{'criterion': 'log_loss', 'max_features': 'log2', 'n_estimators': 60}

In [ ]:
print(g_search.best_score_)

0.9707162349475873

#### Exemplo com RandomizedSearchCV
- https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
r_search = RandomizedSearchCV(estimator = forest, param_distributions = param_grid,
                        n_iter= 10, cv = 10, return_train_score=True)

In [ ]:
sm = SMOTE()
x_train_oversampled, y_train_oversampled = sm.fit_resample(X_train, y_train)

In [ ]:
print(np.unique(y_train_oversampled, return_counts=True))

(array([0, 1]), array([3397, 3397]))

In [ ]:
r_search.fit(x_train_oversampled, y_train_oversampled);
print(r_search.best_params_)

{'n_estimators': 60, 'max_features': 'log2', 'criterion': 'entropy'}

In [ ]:
print(r_search.best_score_)

0.9711595772329551